@keyframes moveToLeft{
    from{
        background-position: 1300%;
    }
    to{
        background-position: 0%;
    }
}

#desert{
    height: 200px;
    width: 1300px;
    background-image: url('t-rex-background.png');
    animation: moveToLeft 23000ms infinite linear;
    position: relative;
    bottom: 0px;
}

#grid{
    height: 200px;
    width: 1300px;
    position: relative;
    bottom: 0px;
}

#dino{
    height: 60px;
    width: 60px;
    background-image: url('t-rex.png');
    position: absolute;
    bottom: 0px;
}
#alert{
    margin: 0px;
}
#pop-up{
    position: relative;
    top: 150px;
    left: 80px;
}

#score{
    position: relative;
    left: 1100px;
}
#high-score{
    position: relative;
    left: 1100px;
}